audio#a
	source(
		src="https://rawcdn.githack.com/ricardoolivaalonso/Codepen/cc4996b50006214d2f3a1e8059bee90a7455d298/Space/audio.mp3",
		type="audio/mpeg"
	)
#h.main
	.shadows
		.reflex.reflex-04
		.shadow.shadow-01
		.shadow.shadow-02
		.reflex.reflex-02
		.reflex.reflex-03
		.light.light-04
		.light.light-01
		.light.light-02
		.light.light-03
		.light.light-05
		.light.light-06
		.light.light-07
		.reflex.reflex-01

	.floor-bottom
		.floor-bottom__front.face 
		.floor-bottom__back.face 
		.floor-bottom__right.face 
		.floor-bottom__left.face 
		.floor-bottom__top.face 
		.floor-bottom__bottom.face 
	.floor-a
		.floor-a__front.face 
		.floor-a__back.face 
		.floor-a__right.face 
		.floor-a__left.face    
	.floor-b
		.floor-b__front.face 
		.floor-b__back.face 
		.floor-b__right.face 
		.floor-b__left.face    
	.floor-c
		.floor-c__front.face 
		.floor-c__back.face 
		.floor-c__right.face 
		.floor-c__left.face 
	.floor-d
		.floor-d__front.face 
		.floor-d__back.face 
		.floor-d__right.face 
		.floor-d__left.face 
    
	.floor-top
		.floor-top__front.face 
		.floor-top__back.face 
		.floor-top__right.face 
		.floor-top__left.face 
		.floor-top__top.face 
			.lightft-02.lightft
			.lightft-03.lightft
			.lightft-09.lightft
			.lightft-04.lightft
			.lightft-05.lightft
			.lightft-06.lightft
			.lightft-07.lightft
			.lightft-08.lightft
			.lightft-10.lightft
			.lightft-11.lightft
			.lightft-12.lightft
			.lightft-01.lightft
		.floor-top__bottom.face 

	.wall-left
		.wall-left__front.face 
		.wall-left__back.face 
		.wall-left__right.face 
		.wall-left__left.face 
		.wall-left__top.face 
		.wall-left__bottom.face 
	.wall-left0
		.wall-left0__front.face 
		.wall-left0__back.face 
		.wall-left0__right.face 
		.wall-left0__top.face 
		.wall-left0__bottom.face 
	.wall-left1
		.wall-left1__front.face 
		.wall-left1__right.face 
		.wall-left1__top.face 
	.wall-left2
		.wall-left2__front.face 
		.wall-left2__back.face 
		.wall-left2__right.face 
			.door
			.lightl2l-01.lightl2l
			.lightl2l-02.lightl2l
			.lightl2l-03.lightl2l
			.lightl2l-04.lightl2l
		.wall-left2__top.face 
		.wall-left2__bottom.face 

	.wall-back
		.wall-back__front.face 
		.wall-back__back.face 
		.wall-back__right.face 
		.wall-back__left.face 
		.wall-back__top.face 
		.wall-back__bottom.face 
	.wall-back0
		.wall-back0__front.face 
		.wall-back0__right.face 
		.wall-back0__left.face 
		.wall-back0__top.face 
		.wall-back0__bottom.face 
	.wall-back1
		.wall-back1__front.face 
		.wall-back1__right.face 
		.wall-back1__left.face 
		.wall-back1__top.face  
	.wall-back2
		.wall-back2__front.face 
			.lightb2b-01.lightb2b
			.lightb2b-02.lightb2b
		.wall-back2__right.face 
		.wall-back2__left.face 
		.wall-back2__top.face 


	.door-left
		.door-left__front.face 
		.door-left__back.face 
		.door-left__right.face 

		.door-left__top.face 

	.door-right
		.door-right__front.face 
		.door-right__back.face 
		.door-right__right.face 
		.door-right__top.face 
	.door-top
		.door-top__front.face 
		.door-top__back.face 
		.door-top__right.face 
		.door-top__top.face 
		.door-top__bottom.face 
	.control
		.control__front.face 
		.control__back.face 
		.control__right.face 
			.screen
				.screen__button
				.screen__button
				.screen__button
				.screen__button
			.screen
				.screen__button.screen__button--yellow
				.screen__button
				.screen__button
				.screen__button
		.control__top.face 
		.control__bottom.face 

	.bed
		.bed__front.face 
		.bed__back.face 
		.bed__right.face 
		.bed__left.face 
		.bed__top.face 
		.bed__bottom.face 
	.mattress
		.mattress__front.face 
		.mattress__back.face 
		.mattress__right.face 
		.mattress__left.face 
		.mattress__top.face 
		.mattress__bottom.face 
	.stairs
		.stairs__front.face 
		.stairs__back.face 
		.stairs__right.face 
		.stairs__left.face 
		.stairs__top.face 
		.stairs__bottom.face 
	.column
		.column__front.face 
		.column__back.face 
		.column__right.face 
		.column__left.face 
		.column__top.face 
		.column__bottom.face 
	.steps
		- var n = 0;
		while n < 6
			.step
				.step__front.face 
				.step__back.face 
				.step__right.face 
				.step__left.face 
				.step__top.face 
				.step__bottom.face
			- n++;

	.kitchen-bottom
		.kitchen-bottom__front.face 
		.kitchen-bottom__back.face 
		.kitchen-bottom__right.face 
		.kitchen-bottom__left.face 
		.kitchen-bottom__top.face 
		.kitchen-bottom__bottom.face 
	.kitchen-top
		.kitchen-top__front.face 
		.kitchen-top__back.face 
		.kitchen-top__right.face 
		.kitchen-top__left.face 
		.kitchen-top__top.face 
		.kitchen-top__bottom.face 
	.kitchen-left
		.kitchen-left__front.face 
		.kitchen-left__back.face 
		.kitchen-left__right.face 
		.kitchen-left__left.face 
		.kitchen-left__top.face 
			.circle-k
			.circle-k
			.circle-k
			.circle-k
		.kitchen-left__bottom.face 
	.kitchen-right
		.kitchen-right__front.face 
		.kitchen-right__back.face 
		.kitchen-right__right.face 
		.kitchen-right__left.face 
		.kitchen-right__top.face 
			.circle-k
		.kitchen-right__bottom.face 
	.kitchen-center
		.kitchen-center__front.face 
		.kitchen-center__back.face 
		.kitchen-center__right.face 
		.kitchen-center__left.face 
		.kitchen-center__top.face 
		.kitchen-center__bottom.face 

	#block.block-a
		.block-a__front.face 
			.s1
				span sunny 20º
				svg.svg-icon(viewBox="0 0 20 20")
					path(
						fill="black",
						d="M5.114,5.726c0.169,0.168,0.442,0.168,0.611,0c0.168-0.169,0.168-0.442,0-0.61L3.893,3.282c-0.168-0.168-0.442-0.168-0.61,0c-0.169,0.169-0.169,0.442,0,0.611L5.114,5.726z M3.955,10c0-0.239-0.193-0.432-0.432-0.432H0.932C0.693,9.568,0.5,9.761,0.5,10s0.193,0.432,0.432,0.432h2.591C3.761,10.432,3.955,10.239,3.955,10 M10,3.955c0.238,0,0.432-0.193,0.432-0.432v-2.59C10.432,0.693,10.238,0.5,10,0.5S9.568,0.693,9.568,0.932v2.59C9.568,3.762,9.762,3.955,10,3.955 M14.886,5.726l1.832-1.833c0.169-0.168,0.169-0.442,0-0.611c-0.169-0.168-0.442-0.168-0.61,0l-1.833,1.833c-0.169,0.168-0.169,0.441,0,0.61C14.443,5.894,14.717,5.894,14.886,5.726 M5.114,14.274l-1.832,1.833c-0.169,0.168-0.169,0.441,0,0.61c0.168,0.169,0.442,0.169,0.61,0l1.833-1.832c0.168-0.169,0.168-0.442,0-0.611C5.557,14.106,5.283,14.106,5.114,14.274 M19.068,9.568h-2.591c-0.238,0-0.433,0.193-0.433,0.432s0.194,0.432,0.433,0.432h2.591c0.238,0,0.432-0.193,0.432-0.432S19.307,9.568,19.068,9.568 M14.886,14.274c-0.169-0.168-0.442-0.168-0.611,0c-0.169,0.169-0.169,0.442,0,0.611l1.833,1.832c0.168,0.169,0.441,0.169,0.61,0s0.169-0.442,0-0.61L14.886,14.274z M10,4.818c-2.861,0-5.182,2.32-5.182,5.182c0,2.862,2.321,5.182,5.182,5.182s5.182-2.319,5.182-5.182C15.182,7.139,12.861,4.818,10,4.818M10,14.318c-2.385,0-4.318-1.934-4.318-4.318c0-2.385,1.933-4.318,4.318-4.318c2.386,0,4.318,1.933,4.318,4.318C14.318,12.385,12.386,14.318,10,14.318 M10,16.045c-0.238,0-0.432,0.193-0.432,0.433v2.591c0,0.238,0.194,0.432,0.432,0.432s0.432-0.193,0.432-0.432v-2.591C10.432,16.238,10.238,16.045,10,16.045"
					)
			.s2.is-screen-hidden 
				span So you are a gossip too
				small ◠‿◠
		.block-a__back.face 
		.block-a__right.face 
		.block-a__left.face 
		.block-a__top.face 
		.block-a__bottom.face 
	.block-b
		.block-b__front.face 
		.block-b__back.face 
		.block-b__right.face 
		.block-b__left.face 
		.block-b__top.face 
		.block-b__bottom.face
